/* Page layout */
body{
    background-image: url("../img/net2.gif");
}

#page {
    /*width: 960px;*/
    width: 90%;
    margin: auto;
    background: #ccf url("../img/horizontal.jpg")repeat-y 20%;
    border-radius: 10px;
    padding:0;
}

header, footer, main {
    padding: 10px 15px;
}

header {
    background-color: cornflowerblue;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    color: white;
}

footer {
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

/* Main menu */
.hmenu ul {
    padding: 0;
}
.hmenu li{
    display: inline;
    list-style-type: none;
    margin: 0;
}

.hmenu li a {
    display:inlineblock;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid appworkspace;
    background-color: cornflowerblue;
    color: white;
    margin: 5px;
    text-decoration: none;
}

.hmenu li a:hover {
    background-color: #5664ff;
    color: white;
    text-decoration: none;
}

/* Left menu */
.lmenu {
    float: left;
    width: 20%;
}

.lmenu ul {
    padding: 0;
}
.lmenu li{
    list-style-type: none;
    margin: 0;
}
.lmenu li a {
    display:block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid appworkspace;
    background-color: cornflowerblue;
    color: white;
    margin: 5px;
    text-decoration: none;
}

.lmenu li a:hover {
    background-color: #5664ff;
    color: white;
    text-decoration: none;
}


/* Main content */
main {
    margin-left: 20%;
    border-left: 1px dotted #ccc;
    min-height: 400px;
}
.lmenu li a {
    display:block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid appworkspace;
    background-color: cornflowerblue;
    color: white;
    margin: 5px;
    text-decoration: none;
}

.hmenu li a:hover {
    background-color: #5664ff;
    color: white;
    text-decoration: none;
}

.img_left {
    float: left;
    margin: 20px 20px 10px 0;
}
.img_right {
    float: right;
    max-width: 400px;
    margin: 20px 0 10px 20px;
}
h1, h2, h3, .hmenu, body {
    font-family: Calibri, Arial, sans-serif;
}
h2 {
    color: white;
    background-color: steelblue;
    padding: 5px 20px;
}
.video {
    float: right;
}
.video a {
    display: inline-block;
    background-color: activecaption;
    color: blue;
    border: 1px solid cornflowerblue;
    padding: 5px 13px;
    border-radius: 5px;
    text-decoration: none;
}

.video a:hover {
    background-color:  highlight;
}

/* Applications page */
.applications, .applications td, .applications th {
    border: 1px solid gray;
}

.applications > tbody > tr:nth-child(even) {
    background-color: #f8f8f8;
}

.applications td {
    padding: 10px 15px;
}

.applications img{
    max-width: 150px;
}

.applications tfoot td {
    font-size: 0.8em;
    text-align: center;
    background-color: #888;
    color: white;
}
.applications tfoot td a {
    color: lightblue;
}

.applications thead {
    background-color: cornflowerblue;
    color: white;
}

/* Footer */
footer{
    font-size: 0.8em;
    text-align: center;
    background-color: #888;
    color: white;
    padding: 10px 25px;
}
footer a {
    color: lightblue;
}
 
/* Feedback page */
.feedback td{
    padding: 5px 10px;
}

.feedback label {
    margin-right: 20px;
}