p {
    margin-top: 16px;
    margin-bottom: 16px;
}
.hmenu {
    background-color: #ddf;
}
.hmenu a {
    color: white;
    background-color: cornflowerblue;
    font-family: "Lucida Sans", Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    margin: 5px 10px;
    border: 1px solid #88f;
    border-radius: 5px;
}
.hmenu a:hover {
    background-color: #0066cc;
}
.hmenu a:active {
    border-color: white;
}

.img-left {
    float: left; 
    margin-right: 20px;
}
.container-right {
    float: right; 
    margin-left: 10px;
    width: 300px;
}
.text-right {
    text-align: right;
}

abbr {
    background-color: #ccc;
    font-family: monospace;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 3px;
}




