/* 
    Created on : Feb 21, 2015, 9:44:47 AM
    Author     : admin
*/
@charset "UTF-8";  

body{
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
}

#top {
    width: 980px;
    margin: auto;
}

#banner {
    float:right;
    background-image: url("../img/banner.jpg");
    width: 700px;
    height: 80px;
}

#login_form {
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #888;
    opacity: 0.8;
    width: 230px;
    margin-top: 3px;
    float: right;
    margin-right: 5px;
    height: 72px;
    padding: 0px 5px;
}

#login_form * {
    opacity: 1;
}

#login_form h2 {
   font: 1em Arial;
   margin: 2px 5px;
   padding: 0;
   
}

#login_form input:not([type="submit"]) {
    background-color: white;
    opacity: 1;
    width: 150px;
}


#login {
    float: right;
}

h1 {
    color: green;
    font-size: 1.8em;

}
#world_image {
    float: left;
    border: 1px solid #ccccff;
    margin-right: 20px;
}
.section_heading {
    color: #333;
}

/* Horizontal menu */
#hmenu {
    list-style-type: none;
    margin: 0 0 9px;
    padding: 0;
}
#hmenu li {
    display: inline;
}
#hmenu a {
    background-color: green;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    border-radius: 3px;
}
#hmenu a:hover {
    background-color: #33cc00;
}

#main {
    background-color: #ccc;
}

#content {
    background-color: whitesmoke;
    padding: 5px 20px;

}

/* Goto Top navigation */
nav#gototop {
    display: block;
    width: 100px;
    padding: 5px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ccf;
    color: white;
    font: 1em Arial, serif;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 10px;
}

nav#gototop a{
    color: green;
    text-decoration: none;
}

/* Left navigation */
nav#vnav ul {
    list-style-type: none;
    padding: 0;
}

nav#vnav ul li{
    padding: 5px 20px;
}

nav#vnav a {
    color: #333;
    text-decoration: none;
    list-style-type: none;
}


#world_image{
    width: 300px;
    height: 200px; 
}

/* History table */
table#versions_table {
    width: 100%;
}

#versions_table td, #versions_table th {
    padding: 5px 10px;
}

#versions_table thead tr {
    background-color: dodgerblue;
    color: white;
}

#versions_table tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

#versions_table tbody tr:nth-child(even) {
    background-color: #ddf;
}

#versions_table tfoot tr {
    background-color: #ddf;
    font-size: 0.8em;
}

/* Footer */
footer {
    padding: 5px 20px;
    background-color: #888;
    color: white;
    text-align: center; 
    clear: both;
}

@media screen and (max-width: 600px) {
    #content {
        margin-left:0;
    }
}

@media screen and (min-width: 600px) {
    nav#vnav {
        float: left;
    }
    #content {
        margin-left: 150px;
    }
}